
<div class="list-group">
  <a href="/products" class="list-group-item">Productos</a>
  <a href="/suppliers" class="list-group-item">Proveedores</a>
  <a href="/clients" class="list-group-item">Clientes</a>
  <a href="/clients/overdue_payments" class="list-group-item">Morosos</a>
  <a href="/supplier_bill/new" class="list-group-item">Factura de compra</a>
  <a href="/client_bill/new" class="list-group-item">Factura de venta</a>
  <a href="/client_receipts/new" class="list-group-item">Recibos</a>
</div>


  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          Movimientos
      </h4>
    </div>
    <!-- <div class="list-group panel-collapse collapse" id="collapseTwo"> -->
    <div class="list-group">
	  	<a href="/supplier_bill/index" class="list-group-item">Lista de compras</a>
		  <a href="/client_bill/index" class="list-group-item">Lista de ventas</a>
	 </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
          Configuraciones
      </h4>
    </div>
  <!-- <div class="list-group panel-collapse collapse" id="collapseOne"> -->
  <div class="list-group" id="collapseOne">
      <a href="/categories" class="list-group-item">Categorías</a>
      <a href="/ivas" class="list-group-item">IVA</a>
      <a href="/users" class="list-group-item">Usuarios</a>
   </div>
  </div>

